---
import Wrapper from './shared/Wrapper.astro'
---

<Wrapper className="bg-black mb-0 text-white">
    <footer class="flex justify-around py-10">
        <div>Logo</div>
        <div>Links</div>
        <div>Links</div>
        <div>Links</div>
    </footer>
</Wrapper>